@reference '../../globals.css';

.container {
  @apply relative;
}

.button {
  @apply text-start w-full h-15 rounded-2xl px-5 text-2xl text-foreground/50 cursor-pointer overflow-hidden whitespace-nowrap text-ellipsis;
  line-height: 24px;
  outline: 1px solid rgba(var(--foreground-rgb), 0.5);
  transition-duration: 200ms;
}

.button-focus {
  @apply text-foreground;
  outline-color: var(--foreground);
}

.blur {
  @apply fixed left-0 top-0 w-screen h-screen z-1 text-transparent select-none;
}

.choose {
  @apply absolute z-50 left-0 top-18 w-full p-4 rounded-2xl;
  transition-duration: 200ms;
  background-color: var(--choose);
}

.choose-content {
  @apply max-h-50 w-full flex-col flex overflow-auto;
  scrollbar-width: thin;
}

.el {
  @apply text-foreground px-4 py-1 rounded-lg cursor-pointer text-start;
  width: calc(100% - 8px);
  line-height: 40px;
  transition-duration: 200ms;
  &:hover {
    @apply bg-foreground/15;
  }
}
